<!-- This template is only meant to be used as part of the index template and for cards being created to be inserted into it. -->
<div id="org-card-{{ organization.id }}" class="card indigo">
  <div class="card-content">
    <div class="card-title">{{ organization.alias }}</div>
    <p><a href="{{ organization.instance_url }}" target="_blank" class="cyan-text text-lighten-1">{{ organization.instance_url }}</a></p>
    <table>
      <thead>
        <tr>
          <th>Namespace</th>
          <th>Organization Id</th>
          <th>Created</th>
          <th>Age</th>
          <th>Expires</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {% if organization.namespace and organization.namespace.strip %}
              {{ organization.namespace }}
            {% else %}
              None
            {% endif %}
          </td>
          <td>{{ organization.organization_id }}</td>
          <td>{{ organization.created_date }}</td>
          <td>{{ organization.created_date|timesince }}</td>
          <td>
            {% if organization.is_expired %}
              <p class="red-text">EXPIRED</p>
            {% else %}
              {{ organization.expiration_date }}
            {% endif %}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-action">
    <div class="center-align">
      <a target="_blank" class="activator waves-effect waves-light btn">User List</a>
      <a class="waves-effect waves-light btn modal-trigger delete-button" href="#delete-modal" data-orgid="{{ organization.id }}">Delete</a>
    </div>
  </div>
  <div class="card-reveal indigo">
    <span class="card-title">{{ organization.alias }} users<i class="material-icons right">close</i></span>
    <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>Password</th>
          <th>Log In</th>
        </tr>
      </thead>
      <tbody>
        {% for user in organization.salesforceuser_set.all %}
          <tr>
            <td>{{ user.username }}</td>
            <td id="user-password-{{ user.id }}">
              {% if user.password %}
                {{ user.password }}
              {% else %}
                <button id="generate-password-button-{{ user.id }}" class="btn waves-effect waves-light generate-password-button" data-userid="{{ user.id }}" data-username="{{ user.username }}">Generate</button>
                <div id="generate-password-spinner-{{ user.id }}" class="preloader-wrapper small active generate-password-spinner hide">
                  <div class="spinner-layer spinner-green-only">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div><div class="gap-patch">
                      <div class="circle"></div>
                    </div><div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                  </div>
                </div>
              {% endif %}
            </td>
            <td>
              <button id="user-login-button-{{ user.id }}" class="btn waves-effect waves-light user-login-button" data-userid="{{ user.id }}" data-username="{{ user.username }}">Log In</button>
              <div id="user-login-spinner-{{ user.id }}" class="preloader-wrapper small active user-login-spinner hide">
                <div class="spinner-layer spinner-green-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>